{% for el in orders %}
<p> Заказчик: {{ el.user.get_full_name }} </p>
<p> Заказ: {{ el.name }} </p>
<p> Комплектующие: </p>

{% for accessories in el.assembly_order_accessories.all %}
<p> {{ accessories.accessories.name }} - {{ accessories.count }} </p>
{% endfor %}
<p> Стоимость: {{ el.total_price }}р.</p>

{% if orders_flag %}
<a href="http://127.0.0.1:8000/admin/pc/assemblyorder/{{ el.pk }}/change/">настросить комплектующие</a>
<br>
<a href="{% url 'pc:set_assembled' el.pk %}">подтвердить сборку</a>
{% endif %}

{% if home_flag %}
<a href="{% url 'pc:add_collector' el.id %}">взять заказ</a>
{% endif %}
<hr>

{% endfor %}