{% extends "main.html" %}
{% block content %}

    {% include 'includes/header.html' %}

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="search">
        <button  class="btn btn-primary" type="submit">Поиск</button>
    </form>
    <hr>

    {% for el in orders %}
        <p>Имя: {{ el.user.first_name }}</p>
        <p>Фамилия: {{ el.user.last_name }}</p>
        {% include 'includes/order_card.html' %}
        <hr>
    {% endfor %}

{% endblock content %}