{% extends "main.html" %}
{% block content %}
    {% include 'includes/header.html' %}
    {% for el in user_basket %}
        <p>Название: {{ el.accessories.name }}</p>
        <p>Количество: {{ el.count }}</p>
        <p>Сумма: {% widthratio el.count 1 el.accessories.price %}</p>
        {% if not el.accessories.count == 0 %}
        <a class="btn btn-primary" href="{% url 'pc:plus_count' el.accessories.id %}">+</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'pc:minus_count' el.accessories.id %}">-</a>
        <br>
        <a href="{% url 'pc:del_shop_item' el.id %}">удалить товар</a>
        <hr>
    {% endfor %}
    <p>Итог: {{ total_price }}</p>
    <a class="btn btn-primary" href="{% url 'pc:add_order'%}">Отправить заказ</a>
{% endblock content %}
