{% extends "main.html" %}
{% block content %}

{% if not request.user.is_authenticated %}
    <a href="{% url 'pc:signup' %}">Регистрация</a>
    <br>
    <a href="{% url 'pc:login' %}">Войти</a>
    <br>
    <hr>
{% else %}
    {% include 'includes/header.html' %}
    {% if request.user.is_staff%}
        {% include 'includes/order_card.html' with home_flag=True orders_flag=False %}
    {% else %}
        {% for el in accessories %}
            <p>Название: {{ el.name }}</p>
            <p>Описание: {{ el.description }}</p>
            <p>Цена: {{ el.price }}р.</p>
            <p>Доступно: {{ el.count }}</p>
            {% if not el.count == 0 %}
            <a href="{% url 'pc:add_shoppinglist' el.id %}">добавить в корзину</a>
            {% endif %}
            
            <hr>
        {% endfor %}
    {% endif %}
{% endif %}

{% endblock content %}
