{% extends "main.html" %}
{% block content %}

{% if not request.user.is_authenticated %}
    <a href="{% url 'pc:signup' %}">Регистрация</a>
    <br>
    <a href="{% url 'pc:login' %}">Войти</a>
    <br>
    <hr>
{% else %}
    {% include 'includes/header.html' %}
    
        {% for el in orders %}
            {% if request.user.is_staff%}
                <p> Заказчик: {{ el.user.get_full_name }} </p>
            {% endif %}
            <p> Заказ: {{ el.name }} </p>
            <p> Комплектующие: </p>

            {% for accessories in el.assembly_order_accessories.all %}
            <p> {{ accessories.accessories }} </p>
            {% endfor %}

            {% if not request.user.is_staff%}
                {% if el.confirmation %}
                    <p> Статус: подтвержден </p>
                {% else %}
                    <p> Статус: ожидает подтверждения </p>
                {% endif %}
                {% if el.assembled %}
                    <p> Статус сборки: собран </p>
                    <p> Стоимость: {{ el.total_price }}р.</p>
                {% else %}
                    <p> Статус сборки: не собран </p>
                {% endif %}
            
                <a href="{% url 'pc:del_order' el.id %}">удалить заказ</a>
            {% else %}
                <a href="{% url 'pc:add_collector' el.id %}">взять заказ</a>
            {% endif %}
            <hr>

        {% endfor %}
    
{% endif %}

{% endblock content %}
