{% extends "main.html" %}
{% block content %}

{% if not request.user.is_authenticated %}
    <a href="{% url 'pc:signup' %}">Регистрация</a>
    <br>
    <a href="{% url 'pc:login' %}">Войти</a>
    <br>
    <hr>
{% else %}
    {% include 'includes/header.html' %}
    {% if request.user.is_staff%}
        {% if request.user.is_superuser %}
            <h1>Владелец</h1>
        {% else %}
            {% include 'includes/order_card.html' with home_flag=True %}
        {% endif %}
    {% else %}
        {% for el in data %}
            <p>Название: {{ el.accessories.name }}</p>
            <p>Описание: {{ el.accessories.description }}</p>
            <p>Цена: {{ el.accessories.price }}р.</p>
            <p>Доступно: {{ el.accessories.count }}</p>
            {% if not el.accessories.count == 0 and el.add_shop_list %}
            <a href="{% url 'pc:add_shoppinglist' el.accessories.id %}">добавить в корзину</a>
            {% endif %}
            
            <hr>
        {% endfor %}
    {% endif %}
{% endif %}

{% endblock content %}
